body {
  background-color: #daedf4;
  font-family: "SN Pro";
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
}

header {
  border-bottom: 1px solid #ececec;
  padding: 0 0 30px 0;
}

main {
  margin: 30px 0;
}

.search-input {
  background: #daedf4;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 80%;
}

.submit-button {
  background: #80c2d8;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin-left: 5px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 45px;
  margin: 0;
}

.current-details {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(39, 33, 66, 0.4);
}

.current-details strong {
  color: red;
}

.current-weather {
  display: flex;
}

.current-weather-icon {
  width: 90px;
  height: 90px;
}

.current-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.weather-forecast-icon {
  width: 70px;
  text-align: center;
}

.weather-forecast-temperatures {
  display: flex;
  text-align: center;
  color: #f65282;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

a {
  color: #80c2d8;
}
footer {
  border-top: 1px solid #ececec;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
