body {
  background-color: #daedf4;
  font-family: Cabin;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
}

header {
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
}

.search-input {
  background: #daedf4;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 80%;
}

.submit-button {
  background: #80c2d8;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin-left: 5px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #ececec;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}
